<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.neogulman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cartapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_Basket" />
        <activity android:name=".Activity_List" />
        <activity android:name=".Activity_Payment" />
        <activity android:name=".Activity_path" />
        <activity android:name=".Activity_recommend"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>